@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

.img-contact{
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.img-contact-view{
    width: 250px;
    height: auto;
    border-radius: 50%;
}